* {
  font-family: Montserrat, sans-serif;
  border: 0;
  padding: 0;
}

@font-face {
  font-family: "quantum";
  src: url(./public/assets/Quantum.ttf) format("truetype");
}

html {
  height: 100%;
  width: 100%;
}
body {
  text-align: center;
}

h1 {
  font-family: "quantum", sans-serif;
}

h5 {
  letter-spacing: 2px;
}

.background {
  background-image: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: -10;
}

.container {
  width: 100vw;
  height: 100vh;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  z-index: 10;
}

.title {
  margin-top: 10%;
}

.presentation {
  font-size: 1.8em;
  width: 50vw;
  align-self: center;
}

.equipe-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.member {
  margin: 1%;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(98, 111, 111, 0.64);
  width: 15vw;
  text-transform: uppercase;
}

.member img {
  width: 10vw;
  height: 10vw;
  border-radius: 25px;
  align-self: center;
  margin: 1%;
}
