@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


body {
    height: 100%;
    /* background: linear-gradient(45deg, #FC466B, #3F5EFB); */
    background:#005fa3;
    background-repeat: no-repeat;
    background-size: 100% 100%;     
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    color: #ffffff; /* Couleur du titre */
    font-family: 'Noto Sans Syloti Nagri', sans-serif;
    font-family: 'Oswald', sans-serif;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff; /* Couleur de fond blanc */
    border: 1px solid #ccc; /* Bordure grise autour du formulaire */
    border-radius: 30px; /* Coins arrondis du formulaire */
    padding: 5rem;
}

label {
    display: block;
    margin-bottom: 1rem;
    color: #333; /* Couleur des étiquettes */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc; /* Bordure grise autour des champs de saisie */
    border-radius: 5px; /* Coins arrondis des champs de saisie */
    margin-bottom: 1rem;
}

input[type="submit"] {
    background-color: #0077cc; /* Couleur de fond bleu ciel */
    color: #fff; /* Couleur du texte blanc */
    padding: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: block;
	margin: 0 auto;
}
input[value="S'inscrire"] {
    margin-bottom: 10px;
    width: 110px;
}
  

input[type="submit"]:hover {
    background-color: #005fa3; /* Couleur de fond bleu foncé au survol */
}
