<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header avec boutons et barre de recherche</title>
    <link rel="stylesheet" href="./public/css/header.css">
    <script src="./public/script/scripts.js" defer></script>
</head>
<body>
  <header>
    <h1>Mon site de vente en ligne</h1>
</header>

<nav class="btn-categorie">
    <a href="#">Accueil</a>
    <a href="#">Catégories</a>
    <a href="#">Panier</a>
    <a href="#">Mon compte</a>
</nav>
</body>
</html>
